@use "@carbon/styles/scss/spacing" as *;
@use "@carbon/styles/scss/type" as *;
@use "@carbon/styles/scss/theme" as *;
@use "@carbon/styles/scss/config";
@use "@carbon/react";

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  background: #161616;
  color: #ffffff;
  padding: 0rem 1rem;
}

.main-container {
  display: flex;
  height: calc(100vh - 4rem);
}

.workflow-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.drag-container {
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  gap: 10px;
  background: #eeeeee;
}

.draggable-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: grab;
  color: #000000;
  min-width: 6rem;
  border: 1px solid #161616;
  border-radius: 5px;
}

/* Additional style for the special node */
.draggable[data-type="special"] {
  background: #2196f3; /* Special Node color */
}

.login-container {
  height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  min-width: 30%;
}

.node-data-container {
  height: calc(100vh - 4rem);
  display: flex;
  align-items: start;
  justify-content: center;
  border-left: 1px solid #161616;
  overflow-x: hidden;
  overflow-y: scroll;
}

.node-data-form {
  width: 100%;
  height: 100%;
  padding: 1rem 0rem;
}

.login-text {
  font-size: 2em;
}

.logout-button {
  cursor: pointer;
}

.form-input {
  margin: 0.5rem 0rem;
}

.cross-icon-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
}
